#crmHeader{
    width: 100%;
    background: gray;
    margin-top: -160px;
    background: none;
    min-height: 700px;
}

#crmHeaderCont{
    max-width: 1000px;
    position: relative;
    display: block;
    padding-top: 200px;
    margin: auto;
    padding-bottom: 100px;
    height: auto;
}

#crmHeaderContLeft, #crmHeaderContRight{
    width: 50%;
    display: inline-block;
    min-height: 100px;
    position: relative;
    min-width: 200px;
}

#crmHeaderContLeft{
    float: left;
}

#crmHeaderContRight{
    float: right;
}

#crmHeaderImg1{
    width: 100%;
}

#crmHeaderContRight > h1{
    font-size: 54px;
    font-weight: 900;
    color: #252525;
    line-height: 60px;
    text-transform: uppercase;
    padding-right: 5%;
    padding-top: 70px;
}

#crmHeaderContRightClientsText{
    color: #72c8fa;
}

#crmHeaderContRight > p{
    font-size: 16px;
    color: #92969c;
    line-height: 22px;
    padding-right: 5%;
    padding-top: 20px;
    max-width: 430px;
}

#selectCRMSection{
    width: 100%;
    min-height: 200px;
    height: auto;
    position: relative;
    margin: auto;
}

#selectCRMSectionCont{
    max-width: 1000px;
    min-height: 100px;
    position: relative;
    margin: auto;
    padding-bottom: 50px;
}

#selectCRMMouse{
    width: 28px;
    text-align: center;
    margin: auto;
    position: relative;
    display: block;
}

#selectCRMH3{
    font-size: 15px;
    color: #92969c;
    text-align: center;
    padding: 5px;
}

#selectCRMDownArrow{
    width: 16px;
    position: relative;
    display: block;
    margin: auto;
}

#CRM3ItemSBox{
    min-height: 50px;
    max-width: 600px;
    min-width: 200px;
    position: relative;
    display: block;
    margin: auto;
    padding-top: 40px;
}

.CRM3ItemSBox{
    width: 32.8%;
    min-height: 40px;
    display: inline-block;
}

.CRM3ItemSBox > img{
    width: 65%;
    position: relative;
    margin: auto;
    display: block;
}

#wealthboxCRMSection{
    width: 100%;
    min-height: 200px;
    height: auto;
    position: relative;
    margin: auto;
    border-top: 1px rgba(193,200,208,0.4) solid;
    background: #f8f9fb;
}

#wealthboxCRMContent{
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: block;
    min-height: 250px;
    padding-top: 50px;
}

#wealthboxCRMLogo{
    position: relative;
    display: block;
    margin: auto;
    width: 100px;
}

#wealthboxCRMH2{
    text-align: center;
    font-size: 26px;
    color: #252525;
    padding: 20px;
}

#wealthboxCRMP{
    max-width: 500px;
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 30px;
}

#wealthboxCRMH2Span{
    color: #3e74be;
}

.stepLabel{
    background-color: #3f74be;
}

.stepHomeH3{
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
}

.howItWorksStepRightImg{
    width: 90%;
}

#redtailCRMSection{
    width: 100%;
    min-height: 200px;
    height: auto;
    position: relative;
    margin: auto;
    border-top: 1px rgba(193,200,208,0.4) solid;
    background: #fff;
}

#redTailCRMLogo{
    position: relative;
    display: block;
    margin: auto;
    width: 180px;
}

#redtailSpanH2{
    color: #bf2f39;
}

#redtailCRMSection > #howItWorksStepsHome{
    height: auto;
    max-height: 3000px;
    min-height: 1250px;
}

#redtailsteps{
    background: #bf2f39;
}

#salesforceCRMSection{
    width: 100%;
    min-height: 200px;
    height: auto;
    position: relative;
    margin: auto;
    border-top: 1px rgba(193,200,208,0.4) solid;
    background: #f8f9fb;
}

#salesforceCRMLogo{
    position: relative;
    display: block;
    margin: auto;
    width: 200px;
}

#salesforceCRMH2Span{
    color: #72c8fa;
}

#stepLabelSalesforce{
    background: #72c8fa;
}























