#navBar {
  transition: all .3s ease-in-out;
  -webkit-animation: fadeIn .5s ease-in-out;
  animation: fadeIn .5s ease-in-out;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.headerlinkscont a {
  -webkit-animation: fadeIn .5s ease-in-out;
  animation: fadeIn .5s ease-in-out;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.homeIntroCont {
  transform: translateY(0px) translateZ(0px);
  -webkit-transform: translateY(0px) translateZ(0px);
}

.homeContent {
  -webkit-animation: fadeInUp 1.1s cubic-bezier(.215,.61,.355,1);
  animation: fadeInUp 1.1s cubic-bezier(.215,.61,.355,1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


section{
  -webkit-animation: fadeInUp 1.1s cubic-bezier(.215,.61,.355,1);
  animation: fadeInUp 1.1s cubic-bezier(.215,.61,.355,1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.homeheaderImg {
  -webkit-animation: fadeInUp .75s cubic-bezier(.23,1,.32,1);
    animation: fadeInUp .75s cubic-bezier(.23,1,.32,1);
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.animateSectionDown #homeDemoSection1 p, .animateSectionDown #homeIntroLogosCont {
  -webkit-animation: fadeInUp .75s cubic-bezier(.23,1,.32,1);
    animation: fadeInUp .75s cubic-bezier(.23,1,.32,1);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


.animateSectionDown .darkHomeSection2Img {
  -webkit-animation: fadeInUp .75s cubic-bezier(.23,1,.32,1);
    animation: fadeInUp .75s cubic-bezier(.23,1,.32,1);
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.phoneScreen {
  position: absolute;
  top: -8px;
  left: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.phoneScreenTranslate {
  -webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
   -o-transition: .3s ease-in-out;
   transition: .3s ease-in-out;

  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}