#darkscreen{
    background-color: #252525;
}

#darkscreenCont{
    width:100%;
    max-width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    margin-top:-300px;
    left:50%;
    margin-left: -500px;
}

.darkTextCont{
    width:60%;
    display: inline-block;
    float: left;
    height: 100%;
}

.darkImgCont{
    width:40%;
    display: inline-block;
    float: left;
    height: 100%;
}

.darkTextCont h1{
    color: #798293;
    text-transform: uppercase;
    font-size: 28px;
    padding-top: 150px;
    font-weight: 700;
}

.darkTextCont h2{
    color: #cd3333;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
}

.darkTextCont h3{
    color: #c1c8d0;
    font-size: 22px;
    font-weight: 400;
    padding-top: 20px;
    padding-right: 40px;
    line-height: 28px;
}

.darkNext{
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    background-color: #8272fa;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 40px;
    opacity: 0.8;
    animation-delay: 2s;
}

.darkNext:hover{
    opacity: 1;
}

#darkcloud{
    width: 100%;
    padding-top: 140px;
}


































