#gamePlayPage{
    margin: 0px;
}

.wtblue{
    width: 40%;
    height: 100%;
    background-color: #70b9f1;
    position: relative;
    display: inline-block;
    float: left;
}

.wtblueCont{
    width: 400px;
    display: block;
    margin: 0px auto;
    position: absolute;
    height: 400px;
    left: 50%;
    margin-left: -200px;
    top:50%;
    margin-top: -200px;
}

.wtblueCont h2{
    margin: 0px;
    text-transform: uppercase;
    font-size: 24px;
    color: #d7e3f0;
}

.wtblueCont h3{
    font-size: 60px;
    font-weight: 700;
    color: white;
    padding-top: 10px;
    text-transform: uppercase;
}

.wtblueCont p{
    font-size: 20px;
    color: #ebf1f5;
    padding-top: 60px;
}

#wtbtnNext{
    text-align: center;
    width: 150px;
    padding: 15px;
    margin-top: 60px;
    border-radius: 5px;
    background-color: #8272fa;
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 900;
    font-size: 23px;
}

#wtbtnNext:hover{
    opacity: 1;
}

.wtwhiteSection{
    width: 60%;
    height: 100%;
    background-color: #fff;
    position: relative;
    display: inline-block;
    float: left;
}

.wtwhiteSectionCont{
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
}

.whiteSectionHeader{
    max-width: 300px;
    height: 120px;
    margin: 0px auto;
    margin-top: 40px;
}

#fadeDownBanks{
    animation-delay: 1s;
}

.whiteSectionHeader h3{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    color: #92969c;
    text-align: center;
    font-weight: 900;
}

.whiteSectionHeader p{
    color: #6dd9aa;
    font-size: 38px;
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
}

.whiteSectionContent{
    max-width: 600px;
    width: 100%;
    min-height: 300px;
    margin: 0px auto;
}

.wSCCol1{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 3px solid #d7e3f0;
    border-bottom: 3px solid #d7e3f0;
    margin-bottom: 20px;
}

.wSrow{
    display: inline-block;
    width: calc(100% / 3);
    height: 30px;
    float: left;
}

.wSrow p{
    color: #c1c8d0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 0px;
}

.wSCol2{
    height: 70px;
    width: 100%;
    
}

.wSrow2{
    display: inline-block;
    width: calc(100% / 3);
    height: 60px;
    float: left;
    margin-bottom: 20px;
}

.wSCol2 p{
    padding-top: 15px;
    font-size: 20px;
}

.wSCol2 a p{
    padding-top: 15px;
    font-size: 20px;
}

.pump{
    font-size: 18px;
    color: #596678;
}

.upside{
    font-size: 16px;
    color: #6dd9aa;
    font-weight: 700;
}

.downside{
    font-size: 16px;
    color: #f07575;
    font-weight: 700;
}

.pumpAction{
    text-align: center;
    border-radius: 5px;
    height: 28px;
    margin:0px auto;
    margin-top: 0px;
    padding: 0px; 
    width: 125px;
    font-size: 14px !important;
    color: #798293;
    border: #d7e3f0 solid 2px;
    text-transform: uppercase;
    float: right;
    font-weight: 900;
    padding-bottom: 3px;
}

.pumpAction:hover{
    background: #8272fa;
    border: #8272fa solid 2px;
    color: white;
}

.cashIn{
    background: #b3abbb;
    border: #b3abbb solid 2px;
    color: white;
}

.balloonSection{
    width: 45%;
    height: 100%;
    position: relative;
    background-color: #70b9f1;
    display: inline-block;
    float: left;
    background-image: url(../img/WhiteClouds.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 30% 40%;;
}

.controlsSection{
    width: 55%;
    height: 100%;
    background: #fff;
    display: inline-block;
    float: left;
}

@media (max-height: 600px;){
    .controlsSection{
        overflow-x: scroll !important;
    }
}

.gPH3{
    color: #d7e3f0 !important;
}

.gpheaderP{
    color: white !important;
}

.livesCont{
    bottom:40px;
    width: 100%;
    height: 70px;
    position: absolute;
}

#livesFadeUp{
    animation-delay: 1s;
}

.livesContainer{
    width: 120px;
    margin: 0px auto;
    height: 70px;
    background: #52acf1;
    border-radius: 5px;
}

.livesBallonCont{
    position: relative;
    display: inline-block;
    width: 30px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}

.livesBallonCont img{
    width: 30px;
}

.livesBallonCounter{
    width: 40px;
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 20px;
    padding-left: 15px;
}

.livesBallonCounter p{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.ballonContainer{
    position: absolute;
    width: 100%;
    height: 500px;
    top:50%;
    margin-top: -250px;
}

.controlsContainer{
    max-width: 600px;
    width: 90%;
    position: relative;
    margin: 0px auto;
    padding: 5%;
    height: 95%;
    
}

.controlsHeader{
    width: 100%;
    height: 100px;
}

.controlsHeaderItem{
    position: relative;
    display: inline-block;
    width: 40%;
    margin: 0% 5%;
    float: left;
    height: 100%;
}

.controlsHeaderItem h3{
    color: #92969c;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 900;
}

.controlsHeaderItem p{
    color: #c1c8d0;
    font-size: 30px;
    padding-top: 10px;
    font-weight: 700;
}

.controlsPumpContainer{
    position: absolute;
    height: 600px;
    top:50%;
    margin-top: -300px;
    width: 90%;
}

@media (min-height: 500px){
    .controlsPumpContainer{
        margin-top: -240px;
        overflow-y: auto !important;
    }
    
}


.quitGame{
    width: 80px;
    text-align: center;
    padding: 10px;
    border-radius: 40px;
    color: #92969c;
    font-size: 12px;
    border: 1px #92969c solid;
    margin: 0px auto;
    margin-top: 30px;
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 700;
}

.quitGame:hover{
    background: #a38dfc;
    border: 1px #a38dfc solid;
    color: white;
    opacity: 0.9;
}

@media (min-height: 500px){
    .quitGame{
        margin-top: 20px;
    }
}

#wtvid1{
    max-width: 600px;
    width: 100%;
    position: relative;
    display: block;
    margin: 0px auto;
    margin-top: 200px;
    
}

@media (min-height: 500px){
    #wtvid1{
        height: 90%;
        width: auto;
        margin-top: 40px;
    }
}

.bal5{
    width: 400px;
    margin: 0px auto;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -200px;
}

.bal4{
    width: 360px;
    margin: 0px auto;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -180px;
    top: 50%;
    margin-top: -180px;
}

.bal3{
    width: 320px;
    margin: 0px auto;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -160px;
    top: 50%;
    margin-top: -150px;
}

.bal2{
    width: 260px;
    margin: 0px auto;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -130px;
    top: 50%;
    margin-top: -130px;
}

.bal1{
    width: 200px;
    margin: 0px auto;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
}

#balloonFloatUp{
    animation-duration: 2s;
}

.balnum5{
    width: 160px;
    height: 60px;
    text-align: center;
    color: white;
    padding-top: 40px;
    font-size: 34px;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    top:50%;
    margin-top: -65px;
    font-weight: 900;
}

#newBalloon{
    animation-delay: 1.5s;
}

.popAniGif{
    width: 214px;
    height: 214px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-107px;
    margin-left: -107px;
    background-image: url("../vid/PopNorm.gif");
}


/* Game Play Pumps */

/* Color */
.numcolorGreen{
    color: #6dd9aa !important;
}

.numcolorRed{
    color: #e55555 !important;
}

.fadeOutPumps{
    opacity: 0.2;
}

.continueBtn{
    background-color: #8272fa;
    color: white;
    border: 1px solid #8272fa;
}

.valueChange{
    font-size: 20px !important;
    margin-top: -10px;
    font-weight: 700;
}

.valueChange {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
    animation-delay: 2s;
    animation-duration: 1s;
}

/* Pump 1 */
#gamePlayPage1 .bal5{
    display: none;
}
#gamePlayPage1 .bal4{
    display: none;
}

#gamePlayPage1 .bal3{
    display: none;
}

#gamePlayPage1 .bal2{
    display: none;
}


/* Pump 2 */
#gamePlayPage2 .bal5{
    display: none;
}
#gamePlayPage2 .bal4{
    display: none;
}

#gamePlayPage2 .bal3{
    display: none;
}

/* Pump 3 Pop*/
#gamePlayPage3Pop .bal5{
    display: none;
}
#gamePlayPage3Pop .bal4{
    display: none;
}

#gamePlayPage3Pop .bal3{
    display: none;
}

#gamePlayPage3Pop .bal2{
    display: none;
}

#gamePlayPage3Pop .bal1{
    display: none;
}

/* Pump 4 */


/* Stress */
#gamePlayStress .balloonSection{
    background-color: #295786;
}

#gamePlayStress .controlsSection{
    background-color: #0b1e36;
}


#gamePlayStress .controlsHeaderItem > h3{
    color: #c1c8d0;
}

#gamePlayStress .wSCCol1{
    border-top: 1.5px solid #295786;
    border-bottom: 1.5px solid #295786;
}

#gamePlayStress .wSrow p{
    color: #295786;
}

#gamePlayStress .pump{
    color: #c1c8d0;
}

#gamePlayStress .pumpAction{
    border: #295786 solid 2px;
    color: #295786;
}

#gamePlayStress .pumpAction:hover{
    background: #8272fa;
    border: #8272fa solid 2px;
    color: white;
}

#gamePlayStress .cashIn{
    color: white;
}


#gamePlayStress .continueBtn{
    background-color: #8272fa;
    color: white;
    border: 1px solid #8272fa;
}



.gameGuide{
    position: absolute;
    width: 200px;
    height: 70px;
    background: rgba(27,27,27,0.7);
    left: 50%;
    margin-left: -100px;
    bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.gameGuide h1{
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}

.gameGuide h5{
    text-align: center;
    color: rgba(255,255,255,0.9);
    font-weight: 600;
    padding-top: 15px;
}

.gameGuide h5 span{
    font-weight: 900;
}


#gamePlayPage5 .gameGuide h5{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#gamePlayPage7 .gameGuide h5{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#gamePlayStress .gameGuide h5{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#gamePlayPage3Pop .gameGuide h5{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

@keyframes .fadeOutUp{
    animation-duration: 3s !important;
    animation-delay: 3s !important;
}

