p{
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.termsHeading{
    position: relative;
    text-align: center;
    background: #181818;
    width:100%;
    min-height: 150px;
    display: block;
    z-index: 100;
    margin-top: -140px;
}

@media (max-width: 800px) {
  .termsHeading{
    min-height: 150px;
  }
}

@media (max-width: 400px) {
  .termsHeading{
    min-height: 150px;
  }
}

.termsSec1Cont{
    position: relative;
    max-width: 500px;
    min-width: 300px;
    height: 100px;
    margin: auto;
    padding-top: 140px;
}

.termsS1Cont{
    min-width: 500px;
    position: absolute;
    margin: auto;
    z-index: 1000;
    top:50%;    
    margin-top: -150px;
    left: 50%;
    margin-left: -250px;
}



#termsH1,#termsH2{
    font-size: 36px;
    color: white;
    font-weight: 400;
    position: relative;
    margin: auto;
    max-width: 510px;
    margin-top: 140px;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
}

#termsH2{
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
    margin: 0px;
    color: #dbdbdb;
    text-transform: none;
}

.legalmenu{
  width: 100%;
  height:70px;
  background: white;
  position: relative;
  display: block;
  border-bottom: 1px rgba(193,200,208,0.4) solid;
}

.legalmenucont{
  max-width: 1000px;
  position: relative;
  margin: auto;
  min-height: 70px;
  display: block;
  text-align: center;
}

.legalmenuitem{
  display: inline-block;
  padding:20px;
  text-transform: uppercase;
  font-weight: 700;
  color:#74787f;
  font-size: 13px;
  padding-top: 22px;
}

.legalmenucont a{
    text-decoration: none;
}

.termsContent{
  max-width: 960px;
  width: 80%;
  position: relative;
  min-width: 400px;
  margin: auto;
  padding-bottom: 60px;
  height: auto;
}

.legalconth1{
  text-align: center;
  padding: 50px;
  padding-bottom: 0px;
  color: #585250;
  font-weight: 300;
  font-size: 26px;
}

.termsContentHeading{
  color: #000;
  padding-top: 60px;
  font-size: 14px;
  text-transform: uppercase;
}

.termsContentBody{
  color: #585250;
  padding-top: 10px;
  font-size: 13px;
}

#termsContentli{
}

#termsContentul{
  padding-left: 30px;
  position: relative;
  color: #585250;
}

#termslink{
  color: #72c8fa;
}
#termslink:hover{
  color: #72c8fa;
}
#termslink:active{
  color: #72c8fa;
}
#termslink:visited{
  color: #72c8fa;
}

.termsContent a,.termsContent a:visited,a:active{
  color: #72c8fa;
  font-weight: 500;
}



