/*Home Page*/
/*Global*/
@import url(http://nicholastodor.com/sf/usesf.css);

*{
    font-family: 'San Francisco Display', sans-serif;
    -webkit-font-smoothing: antialiased;
}

html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

section{
    width:100%;
    height: 800px;
    position: relative;
    display: block;
}

#navBar{
    max-width: 960px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    height: 50px;
    position: relative;
    margin: 0px auto;
    padding-top: 30px;
}

.homeLogo{
    width: 60px;
}

#navitemsCont{
    width: auto;
    min-width: 200px;
    height: 40px;
    max-width: 600px;
    float: right;
}

.navItem{
    color: #92969c;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;;
    padding: 10px 20px 10px 20px;
    float: right;
    font-size: 14px;
}

.navItem:hover{
    color: #252525;
}

.navItem:visited{
    color: #92969c;
    text-decoration: none;
}

@media (max-width: 414px){
    #navitemsCont{
        display: none;
    }
}


#Section1{
    height: auto;
    min-height: 800px;
}

@media (max-width: 414px){
    #Section1{
        height: auto;
        min-height: 480px;
    }
}

#section2{
    background: #252525;
    height: auto;
    padding-bottom: 100px;
}

.homeContent{
    width: 90%;
    max-width: 960px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0px auto;
    display: block;
}

#section1H1{
    font-size: 50px;
    font-weight: 400;
    color: #252525;
    max-width: 960px;
    padding-top: 100px;
    text-transform: uppercase;     
}


#section1H1Sub{
    font-weight: 300;
    font-size: 30px;
    color: #92969c;
}

@media (max-width: 414px){
    #section1H1{
        padding-top: 40px;
        font-size: 2em;
    }
    #section1H1Sub{
    font-size: 0.65em;
    }
}


#homeImg{
    position: absolute;
    left: 30%;
    margin-top: -60px;
}

@media (min-width: 1600px){
    #homeImg{
        position: absolute;
        left: 40%;
        margin-top: -60px;
    }
}

@media (max-width: 1000px){
    #homeImg{
        left: 10%;
        width: 1000px;
        margin-top: -10px;
        
    }
}

@media (max-width: 414px){
    #homeImg{
        left: 0;
        width: 500px;
    }
}

.homeH2{
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    padding-top: 100px;
    line-height: 40px;
    padding-bottom: 20px;
}

.homeP{
    font-size: 16px;
    color: white;
    max-width: 590px;
    text-align: center;
    font-weight: 400;
    margin: 0px auto;
    margin-top: 10px;
    padding: 0px 5% 0px 5%;
    line-height: 22px;
    opacity: 0.8;
}

#s2P{
    color: #c1c8d0;
}

#img2{
    width: 80%;
    display: block;
    margin: 0px auto;
    padding-top: 40px;
}

#section3{
    background: #55acee;
    margin-top: -140px;
}

@media (max-width: 414px){
    #section3{
        margin-top: -60px;
        min-height: 600px;
        height: auto;
        padding-bottom: 40px;
    }
}

#s3P{
}

#s3PhonesCont{
    width: 100%;
    padding-top: 60px;
}

.s3PhonesItem{
    width: calc(100% / 3);
    min-height: 100px;
    display: inline-block;
    float: left;
}

.s3PhonesItemImg{
    width: 80%;
    margin: 0px auto;
}

@media (max-width: 414px){
    .s3PhonesItemImg{
        width: 100%;
    }
}

#section4{
    background: white;
    padding-bottom: 60px;
    min-height: 1000px;
}

@media (max-width: 414px){
    #section4{
        width: 100%;
        min-height: 500px;
        height: auto;
        padding-bottom: 40px;
    }
}

#s4Img{
    position: absolute;
    
}

#s4H2{
    color:#252525;
}

#s4P{
    color: #252525;
}

#s4Img{
    width: 1200px;
    margin: auto;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    margin-top: 60px;
}

@media (max-width: 1200px){
    #s4Img{
        width: 1000px;
        margin-left: -500px;
    }
}

@media (max-width: 1000px){
    #s4Img{
        width: 900px;
        margin-left: -450px;
    }
}

@media (max-width: 900px){
    #s4Img{
        width: 800px;
        margin-left: -400px;
    }
}

@media (max-width: 800px){
    #s4Img{
        width: 700px;
        margin-left: -350px;
    }
}

@media (max-width: 600px){
    #s4Img{
        width: 600px;
        margin-left: -300px;
    }
}

@media (max-width: 414px){
    #s4Img{
        width: 500px;
        margin-left: -250px;
    }
}

#section5{
    min-height: 400px;
    height: auto;
    padding-bottom: 60px;
    display: block;
    z-index: 1;
}

@media (max-width: 414px){
    #section5{
        margin-top: 140px;
    }
}


#s5H2{
    color: #252525;
}

#usersCont{
    max-width: 800px;
    width: 95%;
    padding: 0px 2.5% 40 2.5%;
    margin: 0px auto;
    display: block;
    min-height: 100px;
}

.logosCont{
    width: calc(100% / 5);
    margin: 20px 0px 20px 0px;
    display: inline-block;
    float: left;
}

.logoImg{
    width: 90%;
    padding-left: 5%;
}


@media (max-width: 414px){
    .logosCont{
        width: calc(100% / 3);
    }
}


#pricingSection{
    min-height: 500px;
    height: auto;
}

#pricingDollars{
    max-width: 800px;
    width: 95%;
    padding: 30px 2.5% 40 2.5%;
    margin: 0px auto;
    display: block;
    min-height: 100px;
}

.priceCont, .selectCont{
    width: calc(100% / 3);
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    float: left;
}

.Price{
    width: 84%;
    margin-left: 8%;
    background: #ebf1f5;
    height: auto;
}

.Price > h4{
    text-align: center;
    padding-top: 30px;
    color: #252525;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    margin: 0px;
}

.Price > h5{
    text-align: center;
    padding-top: 10px;
    color: #92969c;
    font-weight: 700;
    font-size: 13px;
    margin: 0;
}

.Price > p{
    text-align: center;
    padding-top: 10px;
    color: #252525;
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    padding-bottom: 30px;
}

.selector{
    background: #72c8fa;
    width: 84%;
    margin-left: 8%;
}

.selectorP{
    padding: 15px 0px 15px 0px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

}

#selCont{
    margin-top: -10px;
}














