*{
    font-family: 'Droid Sans', Helvetica;
    text-decoration: none;
    margin: 0px;
    overflow-x: hidden;
    overflow: hidden;
}

*:visited{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

#homePage{
    background-color: #70b9f1;
}

#homePageH1Cont{
    max-width: 600px;
    min-height: 200px;
    margin: 0px auto;
    position: relative;
    display: block;
    margin-top: 100px;
}

@media (max-height: 700px){
    #homePageH1Cont{
        margin-top:30px;
    }
}

#hpH1{
    font-weight: 900;
    color: #f1cd70;
    font-size: 54px;
    text-transform: uppercase;
    margin-left: 44px;
}

#hpH1Risk{
    font-size: 180px;
    padding: 0px;
    margin: 0px;
    line-height: 120px;
    margin-left: -8px;
    text-align: center;
}

#hpH1AY{
    margin-left: 260px;
}

#playbtnCont{
    position: absolute;
    width: 300px;
    height: 150px;
    left:50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -75px;
    z-index: 10;
}

#playbtnHome{
    padding: 30px;
    max-width: 200px;
    text-align: center;
    margin: 0px auto;
    margin-top: 25px;
    border-radius: 10px;
    border-bottom: 5px solid #8c72fc;
    background-color: #a38dfc;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    font-weight: 900;
    opacity: 0.8;
}

#playbtnHome:hover{
    opacity: 1;
}




/* Risk Selector Page*/
#riskSelector{
    background-color: #70b9f1;
}

#headerSectionSelector{
    max-width: 500px;
    min-height: 150px;
    margin: 0px auto;
    margin-top: 100px;
}

#riskSelectorh2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}

#riskSelectorh3{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
}

#riskSelectorh4{
    text-align: center;
    color: #d7e3f0;
    font-weight: 300;
    font-size: 26px;
    padding-top: 10px;
}

#riskSelectorCont{
    max-width: 1400px;
    min-height: 400px;
    margin: 0px auto;
    padding: 20px;
    margin-top: 100px;
}

@media (max-height: 900px){
    #riskSelectorCont{
        margin-top:10px;
    }
    #headerSectionSelector{
        margin-top: 50px;:
    }
}

.riskSelectorItem{
    display: inline-block;
    height:auto;
    width: calc(100% / 3);
    float: left;
    min-height: 300px;
}

.riskSelectorImg{
    width: 160px;
    margin: 0px auto;
    display: block;
}

.riskselectorTitle{
    text-align: center;
    color: #d7e3f0;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 20px;
}

.riskselectorP{
    padding: 0px 6%;
    text-align: center;
    font-size: 18px;
    color: white;
    line-height: 26px;
    font-weight: 400;
}

#riskselectorSelect{
    width: calc(100% / 3);
    position: absolute;
    margin-top: 360px;
}

#riskselectorSelect > a > p{
    width: 130px;
    padding: 10px;
    border-radius: 5px;
    text-align:center;
    color: white;
    border: 1px solid #fff;
    opacity: 0.8;
    margin: 0px auto;
}

#riskselectorSelect > a > p:hover{
    background: #8272fa;
    border: 1px solid #8272fa;
    opacity: 1;
}


.slidein-from-right {
    -webkit-animation: slidein-from-right2 500ms;
}
@-webkit-keyframes slidein-from-right2 {
    from {
        opacity: 0;
        -webkit-transform:translateX(100%);
    }
    to {
        opacity: 1;
        -webkit-transform:translateX(0%);
    }
}

#valuePageContent{
    width: 100%;
    position: absolute;
    top:50%;
    margin-top: -250px;
}

#valuePageCont{
    max-width: 1200px;
    position: relative;
    display: block;
    margin: 0px auto;
    min-height: 400px;
}

#valuePageContImg{
    margin: 0px auto;
    display: block;
    width: 200px;
}

#valuePageConth3{
    text-align: center;
    font-size: 24px;
    color: #d7e3f0;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}

#valuePageContSelectCont{
    max-width: 960px;
    margin: 0px auto;
    margin-top: 5%;
}

#vPCSCItemCont{
    width: calc(100% / 3);
    display: inline-block;
    float: left;
}

#vPCSCItem{
    width: 80%;
    margin: 0px auto;
    text-align: center;
    color: white;
    opacity: 0.8;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 1px solid white;
}

#vPCSCItem:hover{
    opacity: 1;
    background-color: #8272fa;
    border: 1px solid #8272fa;
}


#gotItSection{
    left: 50%;
    top: 50%;
    position: absolute;
    width: 500px;
    margin-left: -250px;
    height: 600px;
    margin-top: -300px;
}

#gotItSectionCont{
    max-width: 900px;
    height: 600px;
}

#gotItSectionImg{
    width: 180px;
    margin: 0px auto;
    display: block;
    margin-bottom: 60px;
}

#gotItH4{
    text-align: center;
    font-size: 48px;
    color: white;
    text-transform: uppercase;
}

#gotItP{
    text-align: center;
    padding: 0px 20%;
    color: #d7e3f0;
    font-size: 18px;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 30px;
    
}

#gotItPlay{
    padding: 20px;
    max-width: 200px;
    text-align: center;
    margin: 0px auto;
    margin-top: 25px;
    border-radius: 10px;
    border-bottom: 5px solid #8c72fc;
    background-color: #a38dfc;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    font-weight: 900;
    opacity: 0.8;
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
}

#gotItPlay:hover{
    opacity: 1;
    border-bottom: 5px solid #a38dfc !important;
}

.underline{
    text-decoration: underline;
}

.skyline{
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0px;
}

#skylineImg{
    width: 100%;
    height: 30%;
}


#plane{
    width: 180px;
    position: absolute;
    right: 30%;
    top: 50%;
}

#hotair{
    width: 200px;
    position: absolute;
    left: 15%;
    top: 30%;
}






/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

}

/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  /** An element that fades in */
  .scene_element--fadein {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }
}

/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
.m-scene {
  .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  .scene_element--fadein {
    animation-name: fadeIn;
  }

  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }

  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }

  /** Reverse "exit" animations */
  &.is-exiting {
      .scene_element {
        animation-direction: alternate-reverse;
      }
  }
}


.copyright{
    font-family: Helvetica, sans-serif;
    color: rgba(37,37,37,0.5);
    bottom: 5px;
    left: 5px;
    position: absolute;
    z-index: 1000;
    font-weight: 700;
    font-size: 10px;
}



















