/*TABLET*/
@media (max-width: 768px){
    #homeTakeTheTourH2{
        margin-left: -150px;
    }
    #homeTakeTheTourArrow{
        left: 76%;
    }
}





/* Mobile CSS */
html{
    overflow-x: hidden;
}

/* Hide nav */
@media (max-width: 414px){
    .headerlinkscont{
        display: none;
    }
}

@media (max-width: 414px){
    #homeIntroContWrapper{
        padding-top: 100px;
    }
}

/* Hide Compliance Modal */
@media all and (max-width: 414px){
    #complianceOverlay{
     display: none !important;
 }
}

/* Mobile nav */
@media (max-width: 414px){
    #mobileNav{
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0px;
        z-index: 1000000;
        background: rgba(37,37,37,0.9);
        margin: 0px auto;
        background: white;
        border-top:2px solid #f4f4f4;
    }
 }
}

@media (min-width: 1px){
    #mobileNav{
        display: block;
    }
}

@media (min-width: 415px){
    #mobileNav{
        display: none;
    }
}

.mobileNavItem{
    width: 25%;
    position: relative;
    display: inline-block;
    float: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.7em;
}


/* Hide Logos and second nav */
@media (max-width: 414px){
    #homeIntroLogos{
        display: none;
    }
    #navbar{
        display: none;
    }
}

/* Header */
@media (max-width: 414px){
    #homeIntroH2{
        font-size: 16px;
    }
    #kivvikDarkUISection1{
        height: auto;
        min-height: 500px;
    }
}


.videoHome2Mobile{
    width: 90%;
    margin-left: 5%;
    position: relative ;
}

@media (min-width: 1px){

    .videoHome2Mobile{
        display: block;
    }
}

@media (min-width: 415px){

    .videoHome2Mobile{
        display: none;
    }
}


/* Home Section 2 */
@media (max-width: 414px){
    #updatesViewerHome{
        padding-top: 30px;
    }
    #updatesViewerHomeH2{
        font-size: 20px;
        line-height: 22px;
    }
    #updatesViewerHomeP{
        font-size: 16px;
    }
}

/* Home Section 3 */
@media (max-width: 414px){
    #howWeHelp{
        padding-top: 30px;
    }
    #updatesViewerHomeH2{
        font-size: 20px;
        line-height: 22px;
    }
    #updatesViewerHomeP{
        font-size: 16px;
    }
    #homeInfoTagsBreak{
        display: none;
    }
}

/*Home Value Prop*/
@media (max-width: 414px){
    #homeValueProp{
        width: 90%;
        padding: 0px 5% 0px 5%;
        margin-top: -160px;
        margin-right: 0px;
        height: auto;
        padding-bottom: 60px;
    }
    .homeValueCont{
        width: 100%;
        display: block;
        float: none;
        margin-bottom: 40px;
    }
    .homeValueH3{
        font-size: 1.1em;
        line-height: 1.3em;
    }
    .homeValueP{
        font-size: 0.9em;
        line-height: 1.2em;
    }
}

/* Tour */
@media (max-width: 414px){
    #homeTakeTheTourH3{
        display: none;
    }
    #homeTakeTheTourP{
        display: none;
    }
    #homeTakeTheTourH2{
        position: relative;
        text-align: center;
        padding-top: 60px;
        left: auto;
        right: auto;
        margin: 0px;
        line-height: 40px;
    }
    #homeTakeTheTourArrow{
        position: relative;
        left: auto;
        right:auto;
        margin: 0px auto;
        margin-top: 20px;
        width: 64px;
        left: 50%;
        margin-left: -32px;
    }
    #homeTakeTheTourSection{
        min-height: 260px;
    }
    #homeTakeTheTourContainer{
        height: 200px;
    }
    #referAdvisorHome{
        display: none;
    }
}

/*Footer*/
@media (max-width: 414px){
    .footerCont{
        display: none;
    }
    footer{
        height: 500px;
    }
}
@media (min-width: 1px){
    .footerContMobile{
        display: block;
    }
}

@media (min-width: 415px){
    .footerContMobile{
        display: none;
    }
}

.footerContMobileItem{
    display: inline-block;
    color: white;
    width: 33%;
    padding-top: 40px;
    text-align: center;
    float: left;
    font-weight: 900;
    text-transform: uppercase;
}

#footerContMobileCopy > p > a:visited{
    color: white;
}

#footerContMobile * {
    color: white;
}

@media (max-width: 414px){
    #mobileFooterContainer{
        width: 90%;
        margin-left: 5%;
    }
    #mobilFooterColCont{
        width: 100%;
        display: block;
        min-height: 100px;
    }
    #footerContMobile{
        height: 300px;
    }
    #MobileFooterCol{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        float: left;
        display: inline-block;
        min-height: 200px;
    }
    .footerContMobileItemCont{
        width: 100%;
        height: 50px;
        border-bottom: 1px rgba(224,224,224,0.4) solid;
        margin-bottom: 25px;
    }
    .ftmoitem{
        padding: 0px;
        margin: 0px;
        text-transform: uppercase;
        color: white;
        font-weight: 900;
        font-size: 0.9em;
    }
    #noborderbottomfooter{
        border-bottom: none;
    }
}

#mobileFooterHeaderH2{
    color: white;
    padding-top: 40px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 30px;
    padding-left: 5%;
}






/*Client Tour Page*/
@media (max-width: 414px){
    #tourIntroCont{
        padding-top: 50px;
        margin: 0px auto;
        margin-right: auto;
    }
    .tourNavBtn{
        width: 90%;
        padding: 0px 5% 0px 5%;
        margin-left: -50%;
    }
    .TourH2{
        margin-top: 30px;
        font-size: 1.8em;
    }
    #tourCompanyLogos{
        border-top:none;
    }
    #tourCompanyLogosImg{
        display: none;
    }
    #tourDescriptionP{
        display: none;
    }
    #tourMouse{
        padding-top: 20px;
    }
    #tourCompanyLogos{
        margin-top: 0px;
        padding-top: 0px;
    }
    .tourstepH2Content{
        padding-top: 40px;
    }
    .tourstepH3Content{
        font-size: 1.3em;
    }
    #tourPContent{
        font-size: 0.9em;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    #section3DivLeft{
        display: none;
        width: 0px;
    }
    #section3DivRight{
        width: 100%;
        margin: 0px auto;
        float: none;
        margin-top: -40px;
    }
    .section3DivRightSections{
        height: 200px;
        display: block;
        float: none;
    }
    .s2DRSDivImg{
        padding: none;
        float: none;
        padding-right: 0px;
        display: block;
        width: 60%;
        margin: 0px 20%;
    }
    .section3DivRightSectionsIMG{
        margin: auto;
        position: relative;
        display: block;
    }
    .s2DRSDivP{
        width: 80%;
        margin: 0px 10%;
        text-align: center;
        float: none;
        display: block;
        padding-right: 0px;
        margin-top: -30px;
        padding-bottom: 40px;
    }
    #clientTourSection3{
        padding-bottom: 60px !important;
    }
    .tourstepH3ContentVideo{
        font-size: 1.3em;
        line-height: 1.3em;
    }
    #tourstepH3ContentP{
        font-size: 0.9em;
    }
    
    #separatorTriangleInverseFooter{
        display: none;
    }
    #clientTourFooterLeftContH2{
        width: 90%;
        margin-left: 5%;
    }
    #signUpBtnHomeTop{
        display: none;
    }
    #clientTourFooterLeftCont{
        padding-top: 30px;
    }
    #clientTourFooterRightCont{
        padding-top: 30px;
    }
    #kivvikClientTour footer{
        height: 250px;
    }
    #kivvikwmtourAdvisor footer{
        height: 250px;
    }
    .homeSignUpBtn{
        display: block !important;
    }
}

@media (min-width: 415px){
    #signUpBtnHomeTopMobile{
        display: none !important;
    }
}

#signUpBtnHomeTopMobile{
    color: white;
    width: 80px;
    height: 26px;
    position: relative;
    display: block;
    margin:0;
    margin: auto;
    padding: 12px;
    border-radius: 40px;
    background: #8272fa;
    margin-top:70px;
    opacity: 0.9;
}
    
#signUpBtnHomeTopMobile{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
} 

#signUpBtnHomeTopMobile:hover{
    opacity: 1;
}

@media (max-width: 414px){
    #clientTourFooterRightContH2{
        display: none;
    }
    #clientTourFooterRightContH3{
        font-size: 1.3em;
        text-align: center;
    }
    
    #homeTakeTheTourArrowClient{
        position: relative;
        width: 64px;
        margin: auto;
        display: block;
        margin-top: 60px;
        left:auto;
        right: auto;
    }
}



/* Advisor Tour Page */
@media (max-width: 414px){
    #clientTourSection2Img{
        width: 90%;
    }
    #crmLogos{
        width: 90%;
        padding-top: 10px;
    }
    #crmComingP{
        padding-top: 12px;
    }
    
}

/*Hide Invite Image*/
@media (max-width: 414px){
#advisorTourSection2ImgMobile{
    position: relative;
    display: block;
    margin: auto;
    padding-top: 40px;
    width: 90%;;
    margin-left:5%;
}
    #advisorTourSection2Img{
        display: none;
    }
}

@media (min-width: 1px){
    #advisorTourSection2Img{
        display: none;
    }
    #advisorTourSection2ImgMobile{
        display: block;
    }
}

@media (min-width: 415px){
    #advisorTourSection2Img{
        display: block;
    }
    #advisorTourSection2ImgMobile{
        display: none;
    }
}




@media (max-width: 414px){
    #AdvisorSec3EmailText{
        width: 90%;
        float: none;
        display: block;
        margin: 0px auto;
        padding-top: 40px;
        text-align: center;
    }
    #AdvisorSec3EmailTextP{
        text-align: center;
        font-size: 0.9em;
    }
}

/*Hide Phone with Email*/
@media (max-width: 414px){
#AdvisorSec3EmailIMGMobile{
    position: relative;
    display: block;
    margin: auto;
    padding-top: 30px;
    width: 80%;;
    margin-left:10%;
}
    .AdvisorSec3EmailIMG{
        display: none;
    }
}

@media (min-width: 1px){
    .AdvisorSec3EmailIMG{
        display: none;
    }
    #AdvisorSec3EmailIMGMobile{
        display: block;
    }
}

@media (min-width: 415px){
    .AdvisorSec3EmailIMG{
        display: block;
    }
    #AdvisorSec3EmailIMGMobile{
        display: none;
    }
}

@media (max-width: 414px){
    .tourHoriSep{
        margin-top: 60px;
    }
    #AdvisorSec4EmailTextP{
        text-align: center;
        font-size: 0.9em;
        float: none;
        margin: 0px;
        max-width: none;
    }
    #AdvisorSec4EmailIMG{
        position: relative;
        width: 90%;
        margin-left: 5%;
    }
    #clientTourSection3{
        padding-bottom: 0px !important;
    }
} 

/*Hide Phone with Email*/
@media (max-width: 414px){
    .darkHomePricingBox{
        width: 50%;
        margin-top: 30px;
    }
    #pricing{
        height: 1200px;
        position: relative;
        padding-bottom: 30px;
    }
    #kivvikwmtourAdvisor #clientTourFooter{
        margin-top: -40px;
    }
}



/*About Page*/
@media (max-width: 414px){
    #aboutHeader{
        height: auto;
        min-height: 200px;
    }
    .homep1{
        font-size: 0.9em;
    }
    #bFAH2{
        font-size: 1.3em;
    }
    #bFAS1IMG{
        max-width: none;
        width: 100%;
        margin-top: 40px;
    }
    #bFAH3{
        font-size: 1.2em;
    }
    .bFAContentCont{
        padding-top: 30px;
    }
    
}
    .bFALeftDivImgFill{
        display: none;
    }
}

@media (min-width: 1px){
    .bFALeftDivImgFill{
        display: none;
    }
}

@media (min-width: 415px){
    .bFALeftDivImgFill{
        display: block;
    }

}


@media (max-width: 414px){
    #BFAProfileImgKate{
        margin-left: -190px;
    }
    .bFABodyTextH4{
        font-size: 0.9em;
    }
    .bFABodyTextH5{
        font-size: 0.7em;
        line-height: 1.3em;
    }
    #BFAProfileImgEd{
        margin-top: -30px;
        margin-left: -60px; 
    }
    #boardfinAdvSecEd{
        height: 500px;
    }
    #BFAProfileImgMatt{
        margin-left: -270px;
    }
    #MattBobyText{
        padding-left: 0%;
    }
    #mattBodyH{
        line-height: 1.2em;
    }
    #mattBodyP{
        padding-bottom: 25px;
        line-height: 1em;
        padding-top: 10px;
    }

}


@media (max-width: 414px){
    #aboutAdvisorsCont{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .advisorCont{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .advisorImg{
        width: 100%;
        max-width: none;
        height: auto;
    }
    .advisorImg Img{
        width: 100%;
    }
    .advisortextcontainer{
        width: 100%;
        padding: 0px;
    }
    #aboutAdvisors{
        min-height: 1150px;
    }
    #advisorSeparator{
        height: 10px;
    }
    .advisorlogo{
        height: auto;
    }
    .advisorlogo img{
        width: 70%;
        margin: 15%;
    }
}



/*Compliance Page*/
@media (max-width: 414px){
    #phoneWrapper{
        display: none;
    }
    #complianceHero{
        min-height: 700px;
    }
    #complianceHeroImgMobile{
    width: 90%;
    margin: 5%;
    min-width: 200px;
    padding-top: 50px;
}
}



@media (min-width: 1px){
    #phoneWrapperMobile{
        min-height: 300px;
        display: block;
        padding-top: 100px;
    }
}

@media (min-width: 415px){
    #phoneWrapperMobile{
        display: none;
    }
}

@media (min-width: 414px){
    complianceLargeHeader > h2{
        font-size: 1.3em;
    }
}





















