




#homeDarkLogosH3{
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
}


#kivvikDarkUIH1{
    text-align: center;
    color: white;
    font-size: 96px;
    font-weight: 400;
    padding-top: 300px;
    position: absolute;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    z-index: 100;
}

#darkHomeSection2{
    width:100%;
    min-height: 200px;
    position: relative;
    display: block;
}

.darkHomeSectionContainer{
    max-width: 1000px;
    min-height: 300px;
    position: relative;
    display: block;
    margin: auto;
    padding-top: 40px;
}

.darkHomeSeparator{
    background:#55acee;
    width: 40px;
    height: 3px;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.darkHomeH2{
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 36px;
}

#darkHomePWide{
    max-width: 600px;
    color: white;
    opacity: 0.8;
    padding-bottom: 40px;
    padding-top: 0px;
}

.darkHomeSection2Img{
    position: relative;
    display: block;
    margin: auto;
    max-width: 760px;
    margin-top: 40px;
}

#darkHomeSection2Img{
    width: 100%;
}

#darkHomeKnowYourClient{
    width: 100%;
    min-height: 1250px;
    height: auto;
    position: relative;
    display: block;
    margin: auto;
    background: #272d30;
    padding-top: 20px;
}

#darkKnowYourClientContentContainer{
    max-width: 100%;
    position: relative;
    display: block;
    height: auto;
    padding-top: 20px;
}

#darkHomeLaunchSection{
    width: 100%;
    min-height: 600px;
    background: #262829; 
    margin-top: -10px;
}

#darkHomeH2Launch{
    padding-bottom: 0px;
    color: white;
}

#darkHomeH3{
    text-transform: uppercase;
    font-weight: 900;
    color: #72c8fa;
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 36px;
}

#darkLaunchInsideContainer{
    max-width: 1100px;
    height: 300px;
    margin-top: 40px;
}

#darkLaunchLeftContainer{
    width: 50%;
    float: left;
    height: 325px;
}

#darkLaunchLeftContainerImg{
    width: 100%;
    
}

#darkLaunchRightContainer{
    width: 50%;
    float: right;
}

#darkLaunchRightContainer > h4{
    font-size: 160px;
    font-weight: 900;
    color: #fff;
    padding-left: 5%;
    padding-top: 120px;
}

#darkLaunchRightContainer > h5{
    font-size: 30px;
    font-weight: 900;
    color: white;
    line-height: 40px;
    padding-top: 70px;
    padding-left: 5%;
    margin-left: 36px;
    text-transform: uppercase;
}

#darkLaunchM{
    color: #72c8fa;
    font-size: 40px;
}

#darkHomeSecuritySection{
    width: 100%;
    min-height: 300px;
    background: #252525;
    padding-bottom: 80px;
    padding-top: 40px;
}

#homeDarkLogosH3{
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
}

#homeIntroLogos{
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-top: 2px solid #f0f3f6;
    margin-top: -30px;
}

#homeIntroLogosCont{
    padding-top: 30px;
    padding-bottom: 40px;
    max-width: 800px;
    margin-top: 0px;
    margin-left: auto; 
    margin-right: auto;
     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#homeIntroLogosCont img{
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 120px;
    height: 40px;
s}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#kivvikDarkUIH1{
    text-align: center;
    color: white;
    font-size: 96px;
    font-weight: 400;
    padding-top: 300px;
    position: absolute;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    z-index: 100;
}

#darkHomeKnowYourClient{
    width: 100%;
    min-height: 1250px;
    height: auto;
    position: relative;
    display: block;
    margin: auto;
    background: #f0f3f6;
    padding-top: 20px;
    margin-top: -10px;
}

#howItWorksStepsHome{
    max-width: 100%;
    position: relative;
    display: block;
    height: auto;
    padding-top: 20px;
}

.howItWorksStep{
    max-width: 700px;
    padding: 10px 2.5% 10px 2.5%;
    position: relative;
    display: block;
    margin: auto;
}

.howItWorksStepLeft{
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: relative;
    min-height: 100px;
    display: inline-block;
    float: left;
}

.howItWorksStepRight{
    width: 49%;
    margin-left: .5%;
    margin-right: .5%;
    position: relative;
    min-height: 100px;
    display: inline-block;
    float: right;
}

.howItWorksStep2Left{
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: relative;
    min-height: 100px;
    display: inline-block;
    float: right;
}

.howItWorksStep2Right{
    width: 49%;
    margin-left: .5%;
    margin-right: .5%;
    position: relative;
    min-height: 100px;
    display: inline-block;
    float: left;
}

#homeHowItWorksStep1Img{
    margin-left: 0%;
    padding-top: 30px;    
}

#homeCRMExportLink{
    font-size: 13px;
    font-weight: 900;
    color: #72c8fa;
    text-transform: uppercase;
    padding-top: 15px;
    text-decoration: none;
}

.stepLabel{
    font-size: 10px;
    text-align: center;
    padding: 0px 5px 0px 5px;
    text-transform: uppercase;
    font-weight: 700;
    background: #72c8fa;
    width: 90px;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
}

.stepHomeH3{
    font-size: 18px;
    font-weight: 300;
    color: #252525;
    padding-top: 20px;
    line-height: 22px;
}

.stepHomeP{
    font-size: 12px;
    font-weight: 400;
    color: #92969c;
    max-width: 280px;
    line-height: 20px;
    padding-top: 5px;
}

.stepSeparator{
    min-height: 300px;
}

#howItWorksStepRightImg{
    width: 100%;
    margin-top: 40px;
}

#howItWorksStep2RightImg{
    max-width: 80%;
    max-height: 300px;
    left:50%;
    margin-left: 100px;
    margin-top:-30px;
}

.howItWorksStep3{
    max-width: 100%;
    min-height: 100px;
}

.stepLabel3{
    font-size: 10px;
    text-align: center;
    padding: 0px 5px 0px 5px;
    text-transform: uppercase;
    font-weight: 700;
    background: #72c8fa;
    width: 90px;
    border-radius: 20px;
    color: white;
    margin:auto;position: relative;
    display: block;
    margin-top: 20px;
}

.howItWorksStep3 > .stepHomeH3{
    text-align: center;
    max-width: 600px;
    padding: 0px 2% 0px 2%;
    position: relative;
    display: block;
    margin: auto;
    padding-top: 20px;
}

.howItWorksStep3 > .stepHomeP{
    font-size: 12px;
    font-weight: 400;
    color: #92969c;
    max-width: 280px;
    line-height: 20px;
    text-align: center;
    max-width: 500px;
    padding: 5px 2% 0px 2%;
    position: relative;
    display: block;
    margin: auto;
}
    
.step3Img{
    position: relative;
    display: block;
    margin: auto;
    max-width: 600px;
    margin-top: 40px;
}    

#step3Img{
    width:100%;
}

#darkHomeLaunchSection{
    width: 100%;
    min-height: 600px;
    background: #262829; 
    padding-top: 40px;
    padding-bottom: 40px;
}

#darkHomeH2Launch{
    padding-bottom: 0px;
}

#darkHomeH3{
    text-transform: uppercase;
    font-weight: 900;
    color: #72c8fa;
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 36px;
}

#darkLaunchInsideContainer{
    max-width: 1100px;
    height: 300px;
    margin-top: 40px;
}

#darkLaunchLeftContainer{
    width: 50%;
    float: left;
    height: 325px;
}

#darkLaunchLeftContainerImg{
    width: 100%;
    
}

#darkLaunchRightContainer{
    width: 50%;
    float: right;
}

#darkLaunchRightContainer > h4{
    font-size: 160px;
    font-weight: 900;
    color: #fff;
    padding-left: 5%;
    padding-top: 120px;
}

#darkLaunchRightContainer > h5{
    font-size: 30px;
    font-weight: 900;
    color: white;
    line-height: 40px;
    padding-top: 70px;
    padding-left: 5%;
    margin-left: 36px;
    text-transform: uppercase;
}

#darkLaunchM{
    color: #72c8fa;
    font-size: 40px;
}

#darkHomeSecuritySection{
    width: 100%;
    min-height: 300px;
    background: #252525;
}

#darkSecurityLeftContainer > h4{
    font-size: 160px;
    font-weight: 900;
    color: #fff;
    padding-left: 5%;
    padding-top: 90px;
    text-align: right;
    margin: 0px;
}

#darkSecurityP{
    font-size: 30px;
    font-weight: 900;
    color: white;
    line-height: 40px;
    padding-top: 45px;
    padding-left: 2.5%;
    margin-left: 36px;
    text-transform: uppercase;
}

#darkLaunchSecuirtyContainer{
    max-width: 1100px;
    min-height: 230px;
    margin-top: 40px;
}

#darkSecurityLeftContainer{
    width: 50%;
    float: left;
    height: 100px;
}

#darkSecurityPBlue{
    color: #72c8fa;
}

#darkSecurityWideContainer{
    max-width: 800px;
    height: auto;
    position: relative;
    display: block;
    margin: auto;
}

#darkSecurityWideContainer > h3{
    font-weight: 400;
    color: white;
    text-align: left;
    font-size: 24px;  
    padding-left: 2.5%;
}

#darkSecurityWideContainer > p{
    font-weight: 400;
    color: white;
    text-align: left;
    font-size: 14px;  
    padding-left: 2.5%;
    max-width: 600px;
    padding-right: 2.5%;
    opacity: 0.8;
}

#pricing{
    width: 100%;
    min-height: 300px;
    height: auto;
    background: #262829;
    padding-bottom: 80px;
    padding-top: 40px;
}

.darkHomePricingCont{
    max-width: 800px;
    height: auto;
    min-height: 360px;
    position: relative;
    display: block;
    margin:auto;
    padding: 2.5%;
    padding-bottom: 80px;
}

.darkHomePricingBox{
    width:25%;
    min-height: 200px;
    margin: 0;
    display: inline-block;
    border-spacing: 0px;
    float:left;
}

.dHPBTop{
    width: 100%;
    height: auto;
    background: #252525;
}

.dHPBTop > h3{
    text-align: center;
    font-weight: 900;
    color: white;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.darkHomePricingBox > h4{
    text-align: center;
    font-weight: 400;
    color: white;
    font-size: 56px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-transform: uppercase;
}

.pricingP{
    padding-left: 40px;
    font-size: 13px;
    color: white;
    font-weight: 700;
    height: 40px;
    line-height: 16px;
    opacity: 0.8;
}

.pricingSelect{
    width: 100px;
    position: relative;
    display: block;
    margin: auto;
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #265789;
    padding: 5px 10px 5px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pricingSelectA{
    text-decoration: none;
}

.pricingSelect:hover{
    background: #265789;
}

#popularPricing{
    background: #265789;
}

#popularPricing .dHPBTop{
    background: #265789;
}

#popularPricing .pricingSelect{
    background: #5682b2;
    border: 1px solid #5682b2;
}

#popularPricing .pricingSelect:hover{
    background: #252525;
    border: 1px solid #252525;
}

.dollarSign{
    position: absolute;
    font-size: 30px;
    margin-left: -18px;
    margin-top: -7px;
}

#whiteH2DarkUI{
    color: white;
    text-transform: none;
}

#darkHomeh3pricing{
    max-width: 520px;
    position: relative;
    display: block;
    margin: auto;
    font-size: 14px;
    color: white;
    font-weight: 400;
    text-align: center;
    padding: 0;
}

#enterprisePriceHide{
    display:none;
    opacity: 0;
}

#enterprisePrice{
    position: relative;
    font-size:20px;
    font-weight: 400;
    color: white;
    width: 160px;
    left:50%;
    margin-left: -80px;
    margin-top: 0px;
}

#homeSignUpH2{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 34px;
}

#referAdvisorHome{
    width: 100%;
    height: 400px;
    position: relative;
    background: #2f2f2f;
}

#kivvikWMAbout .darkHomeH2{
    color: #252525;
    font-weight: 400;
    text-transform: none;
}

#14DayFreeBold{
    font-weight: 700;
}







